.flexRow {
  background-color: #3d3d3d;
  display: relative;
}

.flexRowContent {
  background-color: #1c1c1c;
}

.flexRow--navbar {
  background-color: #1c1c1c;
}

.flexRow--footerbar {
  background-color: #1c1c1c;
  height: 8vh;
}

.flexRowContent {
  background-color: #1c1c1c;
  color: #ff6f00;
}
